@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins:wght@800&family=Work+Sans:wght@400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Work Sans;
}
nav{
    background:#fff; 
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 85%;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 20px;
    margin-left: 0px;
}

.logo-container img{

    width: 50px;
    object-fit:cover;
    margin-right: 10px;
}
.logo-container p{
font-size: 30px;
color: #0B0223;
font-family: Work Sans;
font-weight: 700; 
}
.G-section{
    color:  #FF42A5;

}
.nav-item-container{
    display: flex;
    gap: 30px;
    margin-right: 0px;
    align-items: center;
}
.nav-item-container a{
color: #3C354F;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
text-decoration: none;
}
.item-logo{
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
/*banner style*/
.banner-container{
    
    margin: 50px auto 0;
    max-width: 85%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.banner-text{
  
width: 50%;
padding: 30px 10px;
margin-top: 40px;
}
.banner-title{
 color: #0B0223;
font-family: Work Sans;
font-size: 35px;
font-weight: 600;
text-transform: uppercase;
}
.span-banner{
 text-align: center;
font-family: Work Sans;


font-weight: 800;
text-transform: uppercase;
background-image: linear-gradient(to bottom, #F948B2,#8758F1);
color: transparent;
-webkit-background-clip: text;
font-size: 50px;
}
.funny{
    background-image: linear-gradient(to bottom, #F948B2,#8758F1);
color: transparent;
-webkit-background-clip: text;
font-size: 50px;
}
.banner-text p{
color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
line-height: 40px;
}
span{
 text-align: center;
font-family: Work Sans;
font-size: 40px;
font-weight: 800;
color:  #F948B2 
}
.btn-primary{
display: inline-flex;
padding: 10px 20px;
align-items: flex-start;
gap: 10px;
margin-top: 10px;
font-size: 20px;
background-color: #FF42A5;
color: #fff;
border-radius: 15px;
}
.btn-secondary{
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    font-size: 20px;  
    background: #4EC5F7;
color: #fff;
border-radius: 15px;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}
/*online  video start*/
.video-container{
    text-align: center;
    margin-top: 20px;
    
}
.video-title{
    color: #0B0223;
    
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
   
}
.video-text{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.video-item-container{
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    gap: 30px;
  margin: 0 auto;
  margin-top: 50px;

}

.btn{
    position: relative;
    height: 80px;
    top: -300px;
    left: 100px;
   
 }

.video-item-container .video{
    margin: auto;
    height: 500px;
    box-shadow: 0 0 0 0.35 #3C354F;
}
.video-item-container .video img{
    width: 300px;  
}
.video-info{
 color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px;
margin-top: 10px;
}
/*download section style*/
.download-container{
    display: flex;
    justify-content: space-between;
   
    width: 85%;
   margin: 0 auto;
   align-items: center;
   margin-top: 50px;
}
.download-text{
text-align: center;
margin-left: 100px;
padding: 10px 10px;
}
.download-title{
    font-size: 40px;
    font-weight: 700;
}
.download-info{
    font-size: 20px;
    font-family: Work Sans;
}
.download-img{

}

.small-img{
    position: relative;
   top: -200px;
    right: 30%;
}
/*circle style*/

.circle-container{

    width: 85%;
    margin: 0 auto;
}
.circle-text{
  justify-content: center;
 flex-wrap: wrap;
    display: flex;
    margin-top: 100px;
color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.circle{
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
  
    font-family: Work Sans;
}
.circle img{
    width: 60px;
}
.circle p{
font-size: 15px;
}
.circle:hover{
      border: 1px solid #F948B2;
      border-radius: 50px;
      background: #FFF;
     color: #FF42A5;
   
    

}

.footer{
    width: 85%;
    height: 600px;
    background: #eae4f8;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background-color: #0B0223;
}
.gamer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 40px 0px;
    color: #fff;
    
}
.gamer p{
    font-size: 35px;
}
.footer-title{
    display: flex;
    justify-content: center;
    margin-top: 40px;
  gap: 50px;
  color: #fff;
  font-family: Work Sans;
font-size: 18px;

font-weight: 600;

}
.footer-logo{
  font-size: 40px;
  margin-top: 50px;
  color: #fff;
  margin: 10px;
}
.footer-text{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap:40px ;
 
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;

font-weight: 500;

}
.footer-last{
color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
margin-top: 40px;
font-weight: 500;
}